@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  background: #888888;
}

body {
  box-shadow: 3px 3px 3px #413f42;
  margin: 15px;
  background: #888888;
}
